<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>
      Create new User:
  </md-subheader>
  <form name="userForm">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>First Name</label>
          <input md-maxlength="30" required name="first_name" ng-model="um.user.first_name" />
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input md-maxlength="30" required name="last_name" ng-model="um.user.last_name" />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Gender</label>
          <input md-maxlength="30" required name="gender" ng-model="um.user.gender" />
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Id</label>
          <input name="id" required ng-model="um.user.id" ng-pattern="/^[1-9]{1}$/" />
          <div class="hint">[1-9]</div>
        </md-input-container>
      </div>
      <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
        <md-button class="md-primary md-raised" ng-click="um.create(um.user)">Create</md-button>
        <md-button class="md-primary md-raised" ng-click="um.cancel()">Cancel</md-button>
      </div>
    </form>
</md-bottom-sheet>
