<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>
      Edit <span class="name">{{ vm.course.title }}</span>:
  </md-subheader>
  <md-list>
    <md-list-item ng-repeat="u in vm.course.candidates" ng-click="register(u, $event)" class="noright">
      <md-icon md-svg-icon="{{u.avatar}}" class="avatar avatar_mini"></md-icon>
      <p>{{ u.first_name }}</p>
      <md-button ng-click="vm.register(u.id)" class="md-secondary">Register</md-button>
      <md-button ng-click="vm.remove(u.id)" class="md-secondary">Remove</md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
